*{
    margin: 0;
    padding: 0;
 box-sizing: border-box;
    font-family:sans-serif;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
header{
    color: #FFFFFF;
    width: 1600px;
    border: 3px solid black;
}
#img{
    width: 139px;
}
.btn{
    width: 164px;
    background-color: #469165;
    padding: 13px 16px;
    border-radius: 5px;
}

.btn:hover{
    color: #469165;
}

#navy li:hover{
    color:blue;
}
nav{
    display: flex;
    color: black;
    width: 1600px;
height: 92px;
padding: 16px 120px;
    justify-content: space-between;
    align-items: center;
    
}
#navy {
    text-decoration: none;
    list-style: none;
    gap: 32px;
    display: flex;
    padding: 16px 120px;
}

/* header end here */

#green{
    color: #30B868;
}

#para1{
    font-size: 500;
    
    background-color: #FFFFFF;
    color: #469165;
    border-radius: 24px;
    width: 230px;
    padding: 8px 12px;
    text-align: center;
    margin-bottom: 16px;
    margin-top:115.5px ;
}

#btn2{
    padding: 12px 16px;
    /* width: 251px;i will add it aften or last finishing */
    color: aliceblue;
    background-color: #469165;
    height: 52px;
}

#btn3{
    padding: 16px 12px;
    /* width: 198px;i will add it aften or last finishing */
    color: aliceblue;
    background-color: transparent;
    height: 52px;
    border-color: #FFFFFF;
}

#buttons ul{
    display: flex;
    list-style: none;
    gap: 16px;
    align-items: center;
    
}

#title h1{
    width: 770px;
    margin-bottom:16px ;  
      
}

#para2{
    font-size: 400;
    
    line-height: 24px;
    margin-bottom: 32px;
    text-align: center;
}

#main1{
    background-image: url(B13-A01-Knowledge-Vault/assets/hero-bg.png);
    background-repeat: no-repeat;
    
    border: 2px solid red;
    width: 1600px;
height: 674px;

display: flex;

justify-content: center;
align-items: center;
gap: 40;
padding: 70px 120px 134px 120px;

}
#into-main1{
    text-align: center;
/* width: 1360px;
height: 380px;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 32; */
}
/* #sec1{

max-width: ;
} */

#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
#para0{
    display: flex;
    justify-content: center;
    align-items: center;
}




/* section 1 completed */

.cardhead{
    width: 1600px;
    text-align: center;
    margin-bottom: 120px;
}
.cardshead{
   
    width: 1360px;
    margin-top: 0;
}
.cardshead h3{
        font-size: 48px;
        font-weight: bold;
        padding-top: 25px;
        text-align: center;
        margin-bottom: 16px;
}
.cardshead p{
    
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 44px;
}

.cards{

 border-radius: 5px;
 width: 322px;
 height: 300px;
 padding-top: 70px;
 padding-bottom: 21px;
 padding-left: 24px;
 padding-right: 24px;
 box-shadow: 2px 2px 4px;
}

.cards img{
    padding: 5px;
    border-radius: 80px; 
      
    /* (i have to check it later ) */
    background-color:#F95555 ;
    margin-bottom: 16px;

}
.imag{
        display: flex;
    justify-content: center;
    align-items: center;
}
.cards h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom:16px ;
    text-align: center;
}

.cards p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.carditems{
    display: flex;
    gap: 24px;
}


/* End of card section */


.moreinfo{
    /* border: 2px solid black; */
    width: 1360px;
    display: flex;
    gap: 60px;
}

#imginfo .title{
        margin-top: 120px;
        font-size: 16px;
        color: #469165;
        margin-bottom:16px ;
}

#imginfo h2{
        color: #001931;
        font-size:48px ;
        font-weight: bold;
        margin-bottom:16px ;
}

#imginfo .para{
        font-size: 16px;
        font-weight: 400;
        margin-bottom:40px ;
}
#imginfo ul , li{
    list-style: none;
    
}

#imginfo .list{
    margin-bottom: 101px;
}
.image{
    width: 600px;
    border-radius: 6px;
}



/* End of image section.  */

.tbl{
   width: 1360px;
   height: 384px;
    /* border: 2px solid black; */
    border-radius: 7px;
    background-color: #F7F6F2;
    margin-top: 120px;
    padding-top: 80px;
    text-align: center;
    margin-bottom: 120px;
}
.tbl h2{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    text-align: center;
    margin-bottom: 16px;
}
.tbl , .para1{
        font-size: 16px;
        font-weight: 400;
        color: #627382;
        line-height: 24px;
        text-align: center;
        margin-bottom: 24px;
}
.btn02{
    width: 193px;
    background-color: #469165;
    color: #FFFFFF;
    height: 19px;
    text-align: center;

    padding: 12px 16px 12px 16px;
    margin-bottom: 35px;
}
.tbl , .para02{
        font-size: 16px;
         color: #627382;
         font-weight: 400;
}


/* end of another section.  */


footer{
    width: 1600px;
    margin-top: 120px;
    background-color: #001931;
    padding-top: 120px;
    padding-bottom: 35px;
    
}

.foot{
    margin: 0 auto;
    display: flex;
    gap: 1000px;
}
.foot img{
    width: 139px;
}
.social p{
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: #F7F6F2;
    margin-bottom: 16px;
}
.icon a{
    margin-right: 16px;
}





.fop{
    font-size: 16px;
    font-weight: 400;
    color: aliceblue;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 30px;
}


/* hover effects  */


.btn02:hover{
    color: transparent;
}
#btn2:hover{
    color: transparent;
}
#btn3:hover{
    color: transparent;
}


