*{
    margin: 0;
    padding: 0;
 box-sizing: border-box;
    font-family:sans-serif;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
header{
    color: #FFFFFF;
    width: 1600px;
    border: 3px solid black;
}
#img{
    width: 139px;
}
.btn{
    width: 164px;
    background-color: #469165;
    padding: 13px 16px;
    border-radius: 5px;
}

.btn:hover{
    color: #469165;
}

#navy li:hover{
    color:blue;
}
nav{
    display: flex;
    color: black;
    width: 1600px;
height: 92px;
padding: 16px 120px;
    justify-content: space-between;
    align-items: center;
    
}
#navy {
    text-decoration: none;
    list-style: none;
    gap: 32px;
    display: flex;
    padding: 16px 120px;
}
/* header end here */

#green{
    color: #30B868;
}

#para1{
    background-color: #FFFFFF;
    color: #469165;
    border-radius: 24px;
    width: 230px;
    padding: 8px 12px;
    text-align: center;
}

#btn2{
    padding: 12px 16px;
    background-color: #469165;
}

#btn3{
    padding: 16px 12px;
    background-color: transparent;
}