* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    max-width: 1600px;
    margin: 0 auto;
}

.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

}

header {
    color: #FFFFFF;
    width: 1600px;

}

#img {
    width: 139px;
}

.btn {
    width: 164px;
    background-color: #469165;
    padding: 13px 16px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #627382;
}

#navy li:hover {
    color: blue;
}

nav {
    display: flex;
    color: black;
    width: 1600px;
    height: 92px;
    padding: 16px 120px;
    justify-content: space-between;
    align-items: center;

}

#navy {
    text-decoration: none;
    list-style: none;
    gap: 32px;
    display: flex;
    padding: 16px 120px;
}

/* header end here */

#green {
    color: #30B868;
}

#para1 {
    font-size: 500;

    background-color: #FFFFFF;
    color: #469165;
    border-radius: 24px;
    width: 230px;
    padding: 8px 12px;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 115.5px;
}

#btn2 {
    padding: 12px 16px;

    color: aliceblue;
    background-color: #469165;
    height: 52px;
}

#btn3 {
    padding: 16px 12px;

    color: aliceblue;
    background-color: transparent;
    height: 52px;
    border-color: #FFFFFF;
}

#buttons ul {
    display: flex;
    list-style: none;
    gap: 16px;
    align-items: center;

}

#title h1 {
    width: 770px;
    margin-bottom: 16px;

}

#para2 {
    font-size: 400;

    line-height: 24px;
    margin-bottom: 32px;
    text-align: center;
}

#main1 {
    max-width: 1600px;
    height: 674px;
    background-image: url(B13-A01-Knowledge-Vault/assets/hero-bg.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;


    /* padding: 70px 120px 134px 120px; */

}

#into-main1 {
    text-align: center;

}


#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#para0 {
    display: flex;
    justify-content: center;
    align-items: center;
}




/* section 1 completed */

.cardhead {
    max-width: 1600px;
    width: 1600px;
    height: 674px;


    justify-items: center;
    align-items: center;
    margin-bottom: 120px;
}

.cardshead {

    width: 1360px;
    margin-top: 0;
}

.cardshead h3 {
    font-size: 48px;
    font-weight: bold;
    padding-top: 25px;
    text-align: center;
    margin-bottom: 16px;
}

.cardshead p {

    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 44px;
}

.cards {

    border-radius: 5px;
    width: 322px;
    height: 300px;
    padding-top: 70px;
    padding-bottom: 21px;
    padding-left: 24px;
    padding-right: 24px;
    box-shadow: 2px 2px 4px;
}

.cards img {
    padding: 5px;
    border-radius: 80px;


    background-color: #F95555;
    margin-bottom: 16px;

}

.imag {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
    text-align: center;
}

.cards p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.carditems {
    display: flex;
    gap: 24px;
}


/* End of card section */


.moreinfo {
    /* border: 2px solid black; */
    max-width: 1600px;

    justify-content: center;
    align-items: center;
    width: 1360px;
    display: flex;
    gap: 60px;
}

.moreinfo .list li {
    display: flex;
    align-items: center;
    justify-content: start;
}

#imginfo .title {
    margin-top: 120px;
    font-size: 16px;
    color: #469165;
    margin-bottom: 16px;
}

#imginfo h2 {
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

#imginfo .para {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}

#imginfo ul,
li {
    list-style: none;
    margin-bottom: 16px;

}

#imginfo .list {
    margin-bottom: 101px;
}

.image {
    width: 600px;
    border-radius: 6px;
}



/* End of image section.  */

#tbl{
    max-width: 1600px;
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tbl div {
    width: 1360px;
    

    height: 384px;
    border-radius: 7px;
    background-color: #F7F6F2;
    
    padding-top: 80px;
    text-align: center;
    


}

.tbl h2 {
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    text-align: center;
    margin-bottom: 16px;
}

.tbl,
.para1 {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 24px;
    text-align: center;
    margin-bottom: 24px;
}

.btn02 {
    padding: 12px 16px;

    color: aliceblue;
    background-color: #469165;
    height: 52px;
    border-radius: 5px;
    margin-bottom: 28px;
}

.tbl,
.para02 {
    font-size: 16px;
    color: #627382;
    font-weight: 400;
}


/* end of another section.  */


footer {
    width: 1600px;
    margin-top: 120px;
    background-color: #001931;
    padding-top: 120px;
    padding-bottom: 35px;

}

.foot {
    margin: 0 auto;
    display: flex;
    gap: 1000px;
}

.foot img {
    width: 139px;
}

.footimg img {
    margin-left: 120px;
}

.social p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: #F7F6F2;
    margin-bottom: 16px;
}

.icon a {
    margin-right: 16px;
}

.icon img {
    width: 40px;
}




.fop {
    font-size: 16px;
    font-weight: 400;
    color: aliceblue;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 30px;
}


/* hover effects  */


.btn02:hover {
    background-color: red;
}

#btn2:hover {
    background-color: aqua;
}

#btn3:hover {
    background-color: aqua;
}